<body class="archive post-type-archive post-type-archive-movies">

<div id="fondo_dt" class="fondo_dt"></div>
<div id="dt_contenedor">
<header class="main">
	<div class="hbox">
		<div class="logo"><a href="http://filmstreaming1.org/"><img src="http://filmstreaming1.org/wp-content/themes/dooplay/assets/img/dooplay.png"></a></div>
		<div class="search">
			<form method="get" id="searchform" action="http://filmstreaming1.org">
				<input type="text" placeholder="Search..." name="s" id="s" value="">
				<button type="submit" id=""><span class="icon-search2"></span></button>
			</form>
		</div>
		<ul class="dt_sm">
		<li><a class="iconn nav-advc"></a></li>
		</ul>
				<div class="right">
			<ul>
							<li><a class="active" href="http://filmstreaming1.org/movies/">Movies</a></li>				<li><a href="http://filmstreaming1.org/tvshows/">TV Shows</a></li>						</ul>
		</div>
	</div>
</header>
<div id="advc-menu" class="dt_mega_menu">
</div>

<header class="responsive">
	<div class="nav"><a class="aresp nav-resp"></a></div>
	<div class="search"><a class="aresp search-resp"></a></div>
	<div class="logo"><a href="http://filmstreaming1.org/"><img src="http://filmstreaming1.org/wp-content/themes/dooplay/assets/img/dooplay.png" alt=""></a></div>
</header>

<form method="get" id="form-search-resp" class="form-resp-ab" action="http://filmstreaming1.org">
	<input type="text" placeholder="Search..." name="s" id="s" value="">
	<button type="submit" id=""><span class="icon-search3"></span></button>
</form>
<div id="contenedor">
<div class="module">
	<div id="arch-menu" class="sidebar">
<div class="sidemenu">
<h2>Browse</h2>
<ul class="main_links">
<li><a href="http://filmstreaming1.org"><i class="icon-home"></i> Home</a></li>
<li><a class="active" href="http://filmstreaming1.org/movies/"><i class="icon-video-camera"></i> Movies</a></li><li><a href="http://filmstreaming1.org/tvshows/"><i class="icon-tv"></i> TV Shows</a></li><li><a href="http://filmstreaming1.org/trending/"><i class="icon-fire"></i> Trending</a></li><li><a href="http://filmstreaming1.org/ratings/"><i class="icon-star2"></i> Ratings</a></li></ul>
</div>
<div class="sidemenu">
<h2>Genres</h2>
<ul class="genres scrolling mCustomScrollbar _mCS_1 mCS-autoHide" style="position: relative; overflow: visible;"><div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" style="max-height: 216px;" tabindex="0"><div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
	<li class="cat-item cat-item-14169"><a href="http://filmstreaming1.org/genre/action/">Action</a> <i>28</i>
</li>
	<li class="cat-item cat-item-14170"><a href="http://filmstreaming1.org/genre/action-adventure/">Action &amp; Adventure</a> <i>8</i>
</li>
	<li class="cat-item cat-item-14175"><a href="http://filmstreaming1.org/genre/adventure/">Adventure</a> <i>28</i>
</li>
	<li class="cat-item cat-item-14209"><a href="http://filmstreaming1.org/genre/animation/">Animation</a> <i>9</i>
</li>
	<li class="cat-item cat-item-14934"><a href="http://filmstreaming1.org/genre/aventure/">Aventure</a> <i>1</i>
</li>
	<li class="cat-item cat-item-14932"><a href="http://filmstreaming1.org/genre/comedie/">Comédie</a> <i>4</i>
</li>
	<li class="cat-item cat-item-14334"><a href="http://filmstreaming1.org/genre/comedy/">Comedy</a> <i>15</i>
</li>
	<li class="cat-item cat-item-14335"><a href="http://filmstreaming1.org/genre/crime/">Crime</a> <i>12</i>
</li>
	<li class="cat-item cat-item-14380"><a href="http://filmstreaming1.org/genre/drama/">Drama</a> <i>35</i>
</li>
	<li class="cat-item cat-item-14935"><a href="http://filmstreaming1.org/genre/drame/">Drame</a> <i>12</i>
</li>
	<li class="cat-item cat-item-14933"><a href="http://filmstreaming1.org/genre/familial/">Familial</a> <i>1</i>
</li>
	<li class="cat-item cat-item-14410"><a href="http://filmstreaming1.org/genre/family/">Family</a> <i>4</i>
</li>
	<li class="cat-item cat-item-15041"><a href="http://filmstreaming1.org/genre/fantastique/">Fantastique</a> <i>1</i>
</li>
	<li class="cat-item cat-item-14412"><a href="http://filmstreaming1.org/genre/fantasy/">Fantasy</a> <i>10</i>
</li>
	<li class="cat-item cat-item-14456"><a href="http://filmstreaming1.org/genre/history/">History</a> <i>1</i>
</li>
	<li class="cat-item cat-item-15040"><a href="http://filmstreaming1.org/genre/horreur/">Horreur</a> <i>1</i>
</li>
	<li class="cat-item cat-item-14461"><a href="http://filmstreaming1.org/genre/horror/">Horror</a> <i>6</i>
</li>
	<li class="cat-item cat-item-14973"><a href="http://filmstreaming1.org/genre/mystere/">Mystère</a> <i>3</i>
</li>
	<li class="cat-item cat-item-14698"><a href="http://filmstreaming1.org/genre/mystery/">Mystery</a> <i>11</i>
</li>
	<li class="cat-item cat-item-14778"><a href="http://filmstreaming1.org/genre/romance/">Romance</a> <i>2</i>
</li>
	<li class="cat-item cat-item-14803"><a href="http://filmstreaming1.org/genre/sci-fi-fantasy/">Sci-Fi &amp; Fantasy</a> <i>7</i>
</li>
	<li class="cat-item cat-item-14804"><a href="http://filmstreaming1.org/genre/science-fiction/">Science Fiction</a> <i>14</i>
</li>
	<li class="cat-item cat-item-14948"><a href="http://filmstreaming1.org/genre/science-fiction-fantastique/">Science-Fiction &amp; Fantastique</a> <i>3</i>
</li>
	<li class="cat-item cat-item-14868"><a href="http://filmstreaming1.org/genre/thriller/">Thriller</a> <i>13</i>
</li>
	<li class="cat-item cat-item-14898"><a href="http://filmstreaming1.org/genre/war/">War</a> <i>1</i>
</li>
	<li class="cat-item cat-item-14903"><a href="http://filmstreaming1.org/genre/western/">Western</a> <i>2</i>
</li>
</div></div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; display: block; height: 44px; max-height: 182px; top: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div></ul>
</div>
<div class="sidemenu">
<h2>Release Year</h2>
<ul class="year scrolling mCustomScrollbar _mCS_2 mCS-autoHide" style="position: relative; overflow: visible;"><div id="mCSB_2" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" style="max-height: 118px;" tabindex="0"><div id="mCSB_2_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
<li><a href="http://filmstreaming1.org/Date de sortie/2016/">2016</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2015/">2015</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2014/">2014</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2013/">2013</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2012/">2012</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2011/">2011</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2010/">2010</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2009/">2009</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2008/">2008</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2007/">2007</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2006/">2006</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2005/">2005</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2004/">2004</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2003/">2003</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2002/">2002</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2001/">2001</a></li><li><a href="http://filmstreaming1.org/Date de sortie/1993/">1993</a></li><li><a href="http://filmstreaming1.org/Date de sortie/1989/">1989</a></li></div></div><div id="mCSB_2_scrollbar_vertical" class="mCSB_scrollTools mCSB_2_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_2_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; display: block; height: 64px; max-height: 84px; top: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div></ul>
</div>



<div class="estadisticas">
</div>
</div>	<div class="content">
	   		<header>
			<h1>Movies</h1>
			<span>44</span>
		</header>
						<div id="archive-content" class="animation-2 items">

<article class="item movies" id="post-135867">
	<div class="poster">
		<a href="http://filmstreaming1.org/movies/norbit/"><img src="http://filmstreaming1.org/wp-content/uploads/2016/08/9BTsgBLNoNUAIpoGfl8SIagHMcd-185x278.jpg" alt="Norbit"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/movies/norbit/">Norbit</a></h3>
				<span>2007</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-movies"></i>
		Norbit	</div>
	<div class="texto">L'histoire de Norbit Albert Rice a tout d'un conte de fées. Recueilli et élevé par un vieux restaurateur chinois, Mr. Wong, ce gentil petit orphelin rencontre à huit ans la douce et jolie Kate, dont il tombe éperdument amoureux. Un cruel destin ne tarde pas à les séparer. A neuf ans, Norbit devient à son corps défendant le protégé de ...<div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item movies" id="post-135865">
	<div class="poster">
		<a href="http://filmstreaming1.org/movies/john-wick-3/"><img src="http://filmstreaming1.org/wp-content/uploads/2016/08/tyPtD94Gx1JFkWgGO3nrmv1GmpL-185x278.jpg" alt="John Wick"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/movies/john-wick-3/">John Wick</a></h3>
				<span>2014</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-movies"></i>
		John Wick	</div>
	<div class="texto">Depuis la mort de sa femme bien-aimée, John Wick passe ses journées à retaper sa Ford Mustang de 1969, avec pour seule compagnie sa chienne Daisy. Il mène une vie sans histoire, jusqu’à ce qu’un malfrat sadique nommé Iosef Tarasof remarque sa voiture. John refuse de la lui vendre. Iosef n’acceptant pas qu’on lui résiste, s’introduit chez John avec deux ...<div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item movies" id="post-135863">
	<div class="poster">
		<a href="http://filmstreaming1.org/movies/john-wick-2/"><img src="http://filmstreaming1.org/wp-content/uploads/2016/08/tyPtD94Gx1JFkWgGO3nrmv1GmpL-185x278.jpg" alt="John Wick"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/movies/john-wick-2/">John Wick</a></h3>
				<span>2014</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-movies"></i>
		John Wick	</div>
	<div class="texto">Depuis la mort de sa femme bien-aimée, John Wick passe ses journées à retaper sa Ford Mustang de 1969, avec pour seule compagnie sa chienne Daisy. Il mène une vie sans histoire, jusqu’à ce qu’un malfrat sadique nommé Iosef Tarasof remarque sa voiture. John refuse de la lui vendre. Iosef n’acceptant pas qu’on lui résiste, s’introduit chez John avec deux ...<div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item movies" id="post-134646">
	<div class="poster">
		<a href="http://filmstreaming1.org/movies/lage-de-glace-les-lois-de-lunivers/"><img src="http://filmstreaming1.org/wp-content/uploads/2016/07/swoUq6YR9AZ1KeEH0wDSGt9mbAg-185x278.jpg" alt="L’Âge de glace : Les Lois de l’Univers"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/movies/lage-de-glace-les-lois-de-lunivers/">L’Âge de glace : Les Lois de l’Univers</a></h3>
				<span>2016</span>
			</div>
	<div class="animation-1 dtinfo right">
	<div class="title">
		<i class="dt-movies"></i>
		L’Âge de glace : Les Lois de l’Univers	</div>
	<div class="texto">La quête permanente de Scrat pour attraper son insaisissable noisette le catapulte dans l'espace où il déclenche accidentellement une série d'événements cosmiques qui vont transformer et menacer le monde de l'Âge de Glace. Pour sauver leur peau, Sid, Manny, Diego et le reste de la bande vont devoir quitter leur foyer et embarquer dans une nouvelle aventure pleine de comédie, ...<div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item movies" id="post-134606">
	<div class="poster">
		<a href="http://filmstreaming1.org/movies/independence-day-resurgence/"><img src="https://image.tmdb.org/t/p/w185/9KQX22BeFzuNM66pBA6JbiaJ7Mi.jpg" alt="Independence Day: Resurgence"></a>
				<div class="rating"><span class="icon-star2"></span> 5</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/movies/independence-day-resurgence/">Independence Day: Resurgence</a></h3>
				<span>2016</span>
			</div>
	<div class="animation-1 dtinfo right">
	<div class="title">
		<i class="dt-movies"></i>
		Independence Day: Resurgence	</div>
	<div class="texto">We always knew they were coming back. Using recovered alien technology, the nations of Earth have collaborated on an immense defense program to protect the planet. But nothing can prepare us for the aliens’ advanced and unprecedented force. Only the ingenuity of a few brave men and women can bring our world back from the brink of extinction. <div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 50%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">5</span>
	<b>/1</b>
	</div>
</div>
	</div>
</div></article>
<article class="item movies" id="post-134604">
	<div class="poster">
		<a href="http://filmstreaming1.org/movies/the-conjuring-2/"><img src="https://image.tmdb.org/t/p/w185/e3lBJCedHnZPfNfmBArKHZXXNC0.jpg" alt="The Conjuring 2"></a>
				<div class="rating"><span class="icon-star2"></span> 10</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/movies/the-conjuring-2/">The Conjuring 2</a></h3>
				<span>2016</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-movies"></i>
		The Conjuring 2	</div>
	<div class="texto">Lorraine and Ed Warren travel to north London to help a single mother raising four children alone in a house plagued by malicious spirits. <div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 100%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">10</span>
	<b>/1</b>
	</div>
</div>
	</div>
</div></article>
<article class="item movies" id="post-11">
	<div class="poster">
		<a href="http://filmstreaming1.org/movies/the-do-over/"><img src="https://image.tmdb.org/t/p/w185/pYzHflb8QgQszkR4Ku8mWrJAYfA.jpg" alt="The Do-Over"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/movies/the-do-over/">The Do-Over</a></h3>
				<span>2016</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-movies"></i>
		The Do-Over	</div>
	<div class="texto">The life of a bank manager is turned upside down when a friend from his past manipulates him into faking his own death and taking off on an adventure. <div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item movies" id="post-134609">
	<div class="poster">
		<a href="http://filmstreaming1.org/movies/the-angry-birds-movie/"><img src="https://image.tmdb.org/t/p/w185/t2mZzQXjpQxmqtJOPpe8Dr2YpMl.jpg" alt="The Angry Birds Movie"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/movies/the-angry-birds-movie/">The Angry Birds Movie</a></h3>
				<span>2016</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-movies"></i>
		The Angry Birds Movie	</div>
	<div class="texto">An island populated entirely by happy, flightless birds or almost entirely. In this paradise, Red, a bird with a temper problem, speedy Chuck, and the volatile Bomb have always been outsiders. But when the island is visited by mysterious green piggies, it’s up to these unlikely outcasts to figure out what the pigs are up to. <div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item movies" id="post-134608">
	<div class="poster">
		<a href="http://filmstreaming1.org/movies/the-jungle-book/"><img src="https://image.tmdb.org/t/p/w185/iMmpHJ9MeOwOF41BmUqytbHCWtz.jpg" alt="The Jungle Book"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/movies/the-jungle-book/">The Jungle Book</a></h3>
				<span>2016</span>
			</div>
	<div class="animation-1 dtinfo right">
	<div class="title">
		<i class="dt-movies"></i>
		The Jungle Book	</div>
	<div class="texto">An orphan boy is raised in the Jungle with the help of a pack of wolves, a bear and a black panther. <div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item movies" id="post-134607">
	<div class="poster">
		<a href="http://filmstreaming1.org/movies/batman-v-superman-dawn-of-justice/"><img src="https://image.tmdb.org/t/p/w185/cGOPbv9wA5gEejkUN892JrveARt.jpg" alt="Batman v Superman: Dawn of Justice"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/movies/batman-v-superman-dawn-of-justice/">Batman v Superman: Dawn of Justice</a></h3>
				<span>2016</span>
			</div>
	<div class="animation-1 dtinfo right">
	<div class="title">
		<i class="dt-movies"></i>
		Batman v Superman: Dawn of Justice	</div>
	<div class="texto">Fearing the actions of a god-like Super Hero left unchecked, Gotham City’s own formidable, forceful vigilante takes on Metropolis’s most revered, modern-day savior, while the world wrestles with what sort of hero it really needs. And with Batman and Superman at war with one another, a new threat quickly arises, putting mankind in greater danger than it’s ever known before. <div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item movies" id="post-134605">
	<div class="poster">
		<a href="http://filmstreaming1.org/movies/zootopia/"><img src="https://image.tmdb.org/t/p/w185/sM33SANp9z6rXW8Itn7NnG1GOEs.jpg" alt="Zootopia"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/movies/zootopia/">Zootopia</a></h3>
				<span>2016</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-movies"></i>
		Zootopia	</div>
	<div class="texto">Determined to prove herself, Officer Judy Hopps, the first bunny on Zootopia's police force, jumps at the chance to crack her first case - even if it means partnering with scam-artist fox Nick Wilde to solve the mystery. <div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item movies" id="post-134603">
	<div class="poster">
		<a href="http://filmstreaming1.org/movies/deadpool/"><img src="https://image.tmdb.org/t/p/w185/inVq3FRqcYIRl2la8iZikYYxFNR.jpg" alt="Deadpool"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/movies/deadpool/">Deadpool</a></h3>
				<span>2016</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-movies"></i>
		Deadpool	</div>
	<div class="texto">Based upon Marvel Comics’ most unconventional anti-hero, DEADPOOL tells the origin story of former Special Forces operative turned mercenary Wade Wilson, who after being subjected to a rogue experiment that leaves him with accelerated healing powers, adopts the alter ego Deadpool. Armed with his new abilities and a dark, twisted sense of humor, Deadpool hunts down the man who nearly ...<div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item movies" id="post-134610">
	<div class="poster">
		<a href="http://filmstreaming1.org/movies/the-revenant/"><img src="https://image.tmdb.org/t/p/w185/oXUWEc5i3wYyFnL1Ycu8ppxxPvs.jpg" alt="The Revenant"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/movies/the-revenant/">The Revenant</a></h3>
				<span>2015</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-movies"></i>
		The Revenant	</div>
	<div class="texto">In the 1820s, a frontiersman, Hugh Glass, sets out on a path of vengeance against those who left him for dead after a bear mauling. <div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item movies" id="post-3">
	<div class="poster">
		<a href="http://filmstreaming1.org/movies/star-wars-the-force-awakens/"><img src="https://image.tmdb.org/t/p/w185/weUSwMdQIa3NaXVzwUoIIcAi85d.jpg" alt="Star Wars: The Force Awakens"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/movies/star-wars-the-force-awakens/">Star Wars: The Force Awakens</a></h3>
				<span>2015</span>
			</div>
	<div class="animation-1 dtinfo right">
	<div class="title">
		<i class="dt-movies"></i>
		Star Wars: The Force Awakens	</div>
	<div class="texto">Thirty years after defeating the Galactic Empire, Han Solo and his allies face a new threat from the evil Kylo Ren and his army of Stormtroopers. <div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item movies" id="post-134595">
	<div class="poster">
		<a href="http://filmstreaming1.org/movies/the-martian/"><img src="https://image.tmdb.org/t/p/w185/5aGhaIHYuQbqlHWvWYqMCnj40y2.jpg" alt="The Martian"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/movies/the-martian/">The Martian</a></h3>
				<span>2015</span>
			</div>
	<div class="animation-1 dtinfo right">
	<div class="title">
		<i class="dt-movies"></i>
		The Martian	</div>
	<div class="texto">During a manned mission to Mars, Astronaut Mark Watney is presumed dead after a fierce storm and left behind by his crew. But Watney has survived and finds himself stranded and alone on the hostile planet. With only meager supplies, he must draw upon his ingenuity, wit and spirit to subsist and find a way to signal to Earth that ...<div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item movies" id="post-134594">
	<div class="poster">
		<a href="http://filmstreaming1.org/movies/everest/"><img src="https://image.tmdb.org/t/p/w185/t3ELL46AnqjS9djz1vEVh4MpKv0.jpg" alt="Everest"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/movies/everest/">Everest</a></h3>
				<span>2015</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-movies"></i>
		Everest	</div>
	<div class="texto">Inspired by the incredible events surrounding a treacherous attempt to reach the summit of the world's highest mountain, "Everest" documents the awe-inspiring journey of two different expeditions challenged beyond their limits by one of the fiercest snowstorms ever encountered by mankind. Their mettle tested by the harshest of elements found on the planet, the climbers will face nearly impossible obstacles ...<div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item movies" id="post-134591">
	<div class="poster">
		<a href="http://filmstreaming1.org/movies/clown/"><img src="https://image.tmdb.org/t/p/w185/3Z97W9dDWU9YH3fk2sQKVauLNnu.jpg" alt="Clown"></a>
				<div class="rating"><span class="icon-star2"></span> 10</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/movies/clown/">Clown</a></h3>
				<span>2014</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-movies"></i>
		Clown	</div>
	<div class="texto">A loving father finds a clown suit for his son's birthday party, only to realize the suit is part of an evil curse that turns its wearer into a killer. <div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 100%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">10</span>
	<b>/1</b>
	</div>
</div>
	</div>
</div></article>
<article class="item movies" id="post-18">
	<div class="poster">
		<a href="http://filmstreaming1.org/movies/the-witch/"><img src="https://image.tmdb.org/t/p/w185/jfGsfzq5JrMAKbAOV2TmhsOs3tf.jpg" alt="The Witch"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/movies/the-witch/">The Witch</a></h3>
				<span>2015</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-movies"></i>
		The Witch	</div>
	<div class="texto">New England in the 1630s: William and Katherine lead a devout Christian life with five children, homesteading on the edge of an impassable wilderness. When their newborn son vanishes and crops fail, the family turns on one another. Beyond their worst fears, a supernatural evil lurks in the nearby wood. <div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item movies" id="post-134592">
	<div class="poster">
		<a href="http://filmstreaming1.org/movies/interstellar/"><img src="https://image.tmdb.org/t/p/w185/nBNZadXqJSdt05SHLqgT0HuC5Gm.jpg" alt="Interstellar"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/movies/interstellar/">Interstellar</a></h3>
				<span>2014</span>
			</div>
	<div class="animation-1 dtinfo right">
	<div class="title">
		<i class="dt-movies"></i>
		Interstellar	</div>
	<div class="texto">Interstellar chronicles the adventures of a group of explorers who make use of a newly discovered wormhole to surpass the limitations on human space travel and conquer the vast distances involved in an interstellar voyage. <div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item movies" id="post-134590">
	<div class="poster">
		<a href="http://filmstreaming1.org/movies/john-wick/"><img src="https://image.tmdb.org/t/p/w185/5vHssUeVe25bMrof1HyaPyWgaP.jpg" alt="John Wick"></a>
				<div class="rating"><span class="icon-star2"></span> 6</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/movies/john-wick/">John Wick</a></h3>
				<span>2014</span>
			</div>
	<div class="animation-1 dtinfo right">
	<div class="title">
		<i class="dt-movies"></i>
		John Wick	</div>
	<div class="texto">After the sudden death of his beloved wife, John Wick receives one last gift from her, a beagle puppy named Daisy, and a note imploring him not to forget how to love. But John's mourning is interrupted when his 1969 Boss Mustang catches the eye of sadistic thug Iosef Tarasov who breaks into his house and steals it, beating John ...<div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 60%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">6</span>
	<b>/1</b>
	</div>
</div>
	</div>
</div></article>
<article class="item movies" id="post-134593">
	<div class="poster">
		<a href="http://filmstreaming1.org/movies/annabelle/"><img src="https://image.tmdb.org/t/p/w185/yAgxM61Sn0dYML4C9v3MJFp5zPI.jpg" alt="Annabelle"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/movies/annabelle/">Annabelle</a></h3>
				<span>2014</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-movies"></i>
		Annabelle	</div>
	<div class="texto">John Form has found the perfect gift for his expectant wife, Mia - a beautiful, rare vintage doll in a pure white wedding dress. But Mia's delight with Annabelle doesn't last long. On one horrific night, their home is invaded by members of a satanic cult, who violently attack the couple. Spilled blood and terror are not all they leave ...<div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item movies" id="post-4">
	<div class="poster">
		<a href="http://filmstreaming1.org/movies/guardians-of-the-galaxy/"><img src="https://image.tmdb.org/t/p/w185/y31QB9kn3XSudA15tV7UWQ9XLuW.jpg" alt="Guardians of the Galaxy"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/movies/guardians-of-the-galaxy/">Guardians of the Galaxy</a></h3>
				<span>2014</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-movies"></i>
		Guardians of the Galaxy	</div>
	<div class="texto">Light years from Earth, 26 years after being abducted, Peter Quill finds himself the prime target of a manhunt after discovering an orb wanted by Ronan the Accuser. <div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item movies" id="post-134597">
	<div class="poster">
		<a href="http://filmstreaming1.org/movies/the-wolf-of-wall-street/"><img src="https://image.tmdb.org/t/p/w185/vK1o5rZGqxyovfIhZyMELhk03wO.jpg" alt="The Wolf of Wall Street"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/movies/the-wolf-of-wall-street/">The Wolf of Wall Street</a></h3>
				<span>2013</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-movies"></i>
		The Wolf of Wall Street	</div>
	<div class="texto">A New York stockbroker refuses to cooperate in a large securities fraud case involving corruption on Wall Street, corporate banking world and mob infiltration. Based on Jordan Belfort's autobiography. <div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item movies" id="post-21">
	<div class="poster">
		<a href="http://filmstreaming1.org/movies/frozen/"><img src="https://image.tmdb.org/t/p/w185/jIjdFXKUNtdf1bwqMrhearpyjMj.jpg" alt="Frozen"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/movies/frozen/">Frozen</a></h3>
				<span>2013</span>
			</div>
	<div class="animation-1 dtinfo right">
	<div class="title">
		<i class="dt-movies"></i>
		Frozen	</div>
	<div class="texto">Young princess Anna of Arendelle dreams about finding true love at her sister Elsa’s coronation. Fate takes her on a dangerous journey in an attempt to end the eternal winter that has fallen over the kingdom. She's accompanied by ice delivery man Kristoff, his reindeer Sven, and snowman Olaf. On an adventure where she will find out what friendship, courage, ...<div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item movies" id="post-134596">
	<div class="poster">
		<a href="http://filmstreaming1.org/movies/the-conjuring/"><img src="https://image.tmdb.org/t/p/w185/xYGkdhOEVoFrLNUotuTXemtQAWd.jpg" alt="The Conjuring"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/movies/the-conjuring/">The Conjuring</a></h3>
				<span>2013</span>
			</div>
	<div class="animation-1 dtinfo right">
	<div class="title">
		<i class="dt-movies"></i>
		The Conjuring	</div>
	<div class="texto">Paranormal investigators Ed and Lorraine Warren work to help a family terrorized by a dark presence in their farmhouse. Forced to confront a powerful entity, the Warrens find themselves caught in the most terrifying case of their lives. <div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>	</div>
	<div class="pagination"><span>Page 1 of 2</span><span class="current">1</span><a href="http://filmstreaming1.org/movies/page/2/" class="inactive">2</a></div>
<div class="resppages"><a href="http://filmstreaming1.org/movies/page/2/"><span class="icon-chevron-right"></span></a></div>	</div>
</div>
</div>
<footer class="main">
<!--<a class="go-top"><i class="icon-angle-up"></i></a>-->
	<div class="fbox">
		<div class="copy">Film Streaming HD 2016 VF Gratuit Streaming Complet en Français, Film en Streaming VF © 2016</div>
	</div>
</footer>


</div>
<script>
// OWL Movies

// OWL TVshows
// OWL Episodes
$(document).ready(function() {
  var owl = $("#dt-episodes");
  owl.owlCarousel({
		autoPlay: 3500,
		pagination : false,
	items : 4,
	stopOnHover : true,
	itemsDesktop : [900,4],
	itemsDesktopSmall : [750,3],
	itemsTablet: [500,2],
	itemsMobile : [320,1]
  });
  // Custom Navigation Events
	  // end botons
});

// OWL Seasons
$(document).ready(function() {
  var owl = $("#dt-seasons");
	owl.owlCarousel({
		autoPlay: false,
		items : 5,
	stopOnHover : true,
	pagination : false,
	itemsDesktop : [1199,5],
    itemsDesktopSmall : [980,5],
    itemsTablet: [768,4],
    itemsTabletSmall: false,
    itemsMobile : [479,3],
  });
  // Custom Navigation Events
  $(".next2").click(function(){
    owl.trigger('owl.next');
  })
  $(".prev2").click(function(){
    owl.trigger('owl.prev');
  })
	  // end botons
});

// OWL Movies Slider
$(document).ready(function() {
  var owl = $("#slider-movies");
  owl.owlCarousel({
		autoPlay: false,
		items : 2,
	stopOnHover : true,
	pagination : true,
	itemsDesktop : [1199,2],
    itemsDesktopSmall : [980,2],
    itemsTablet: [768,2],
    itemsTabletSmall: [600,1],
    itemsMobile : [479,1]
  });
  // Custom Navigation Events
});

// OWL TVShows Slider
$(document).ready(function() {
  var owl = $("#slider-tvshows");
  owl.owlCarousel({
		autoPlay: false,
			items : 2,
	stopOnHover : true,
	pagination : true,
	itemsDesktop : [1199,2],
    itemsDesktopSmall : [980,2],
    itemsTablet: [768,2],
    itemsTabletSmall: [600,1],
    itemsMobile : [479,1]
  });
  // Custom Navigation Events
});

// OWL Movies - TVShows Slider
$(document).ready(function() {
  var owl = $("#slider-movies-tvshows");
  owl.owlCarousel({
				autoPlay: false,
					items : 2,
		stopOnHover : true,
		pagination : true,
		itemsDesktop : [1199,2],
		itemsDesktopSmall : [980,2],
		itemsTablet: [768,2],
		itemsTabletSmall: [600,1],
		itemsMobile : [479,1]
  });
  // Custom Navigation Events
});


</script>
<script type="text/javascript" src="http://filmstreaming1.org/wp-content/themes/dooplay/assets/js/scripts.js?ver=1.0.3"></script>
<script type="text/javascript" src="http://filmstreaming1.org/wp-includes/js/wp-embed.min.js?ver=4.5.3"></script>
<p></p>
<a href="http://www.hit-parade.com/hp.asp?site=a652380" target="_top"><img src="http://loga.hit-parade.com/logohp1.gif?site=a652380" title="\&quot;Hit-Parade\&quot;" width="77" height="15" border="0"></a>

<!-- http://www.uhit.eu - Annuaire pour webmaster -->
<a href="\&quot;http://www.uhit.eu/\&quot;"><img src="\&quot;http://www.uhit.eu/button1.php?u=karapitcho222\&quot;" alt="\&quot;Annuaire" sites="" francais\"=""></a>
<script type="\&quot;text/javascript\&quot;" src="\&quot;http://www.uhit.eu/id/karapitcho222.php\&quot;"></script>
<!-- Fin de http://www.uhit.eu --><script>
 $(".reset").click(function(event){
    if (!confirm("Really you want to restart all data??"))
       event.preventDefault();
});
 </script>

<script aria-hidden="true" type="application/x-lastpass" id="hiddenlpsubmitdiv" style="display: none;"></script><script>try{(function() { for(var lastpass_iter=0; lastpass_iter < document.forms.length; lastpass_iter++){ var lastpass_f = document.forms[lastpass_iter]; if(typeof(lastpass_f.lpsubmitorig2)=="undefined"){ lastpass_f.lpsubmitorig2 = lastpass_f.submit; if (typeof(lastpass_f.lpsubmitorig2)=='object'){ continue;}lastpass_f.submit = function(){ var form=this; var customEvent = document.createEvent("Event"); customEvent.initEvent("lpCustomEvent", true, true); var d = document.getElementById("hiddenlpsubmitdiv"); if (d) {for(var i = 0; i < document.forms.length; i++){ if(document.forms[i]==form){ if (typeof(d.innerText) != 'undefined') { d.innerText=i.toString(); } else { d.textContent=i.toString(); } } } d.dispatchEvent(customEvent); }form.lpsubmitorig2(); } } }})()}catch(e){}</script></body>
