<body class="archive post-type-archive post-type-archive-tvshows">

<div id="fondo_dt" class="fondo_dt"></div>
<div id="dt_contenedor">
<header class="main">
	<div class="hbox">
		<div class="logo"><a href="http://filmstreaming1.org/"><img src="http://filmstreaming1.org/wp-content/themes/dooplay/assets/img/dooplay.png"></a></div>
		<div class="search">
			<form method="get" id="searchform" action="http://filmstreaming1.org">
				<input type="text" placeholder="Search..." name="s" id="s" value="">
				<button type="submit" id=""><span class="icon-search2"></span></button>
			</form>
		</div>
		<ul class="dt_sm">
		<li><a class="iconn nav-advc"></a></li>
		</ul>
				<div class="right">
			<ul>
							<li><a href="http://filmstreaming1.org/movies/">Movies</a></li>				<li><a class="active" href="http://filmstreaming1.org/tvshows/">TV Shows</a></li>						</ul>
		</div>
	</div>
</header>
<div id="advc-menu" class="dt_mega_menu">
</div>

<header class="responsive">
	<div class="nav"><a class="aresp nav-resp"></a></div>
	<div class="search"><a class="aresp search-resp"></a></div>
	<div class="logo"><a href="http://filmstreaming1.org/"><img src="http://filmstreaming1.org/wp-content/themes/dooplay/assets/img/dooplay.png" alt=""></a></div>
</header>

<form method="get" id="form-search-resp" class="form-resp-ab" action="http://filmstreaming1.org">
	<input type="text" placeholder="Search..." name="s" id="s" value="">
	<button type="submit" id=""><span class="icon-search3"></span></button>
</form>
<div id="contenedor">
<div class="module">
	<div id="arch-menu" class="sidebar">
<div class="sidemenu">
<h2>Browse</h2>
<ul class="main_links">
<li><a href="http://filmstreaming1.org"><i class="icon-home"></i> Home</a></li>
<li><a href="http://filmstreaming1.org/movies/"><i class="icon-video-camera"></i> Movies</a></li><li><a class="active" href="http://filmstreaming1.org/tvshows/"><i class="icon-tv"></i> TV Shows</a></li><li><a href="http://filmstreaming1.org/trending/"><i class="icon-fire"></i> Trending</a></li><li><a href="http://filmstreaming1.org/ratings/"><i class="icon-star2"></i> Ratings</a></li></ul>
</div>
<div class="sidemenu">
<h2>Genres</h2>
<ul class="genres scrolling mCustomScrollbar _mCS_1 mCS-autoHide" style="position: relative; overflow: visible;"><div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" style="max-height: 216px;" tabindex="0"><div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
	<li class="cat-item cat-item-14169"><a href="http://filmstreaming1.org/genre/action/">Action</a> <i>28</i>
</li>
	<li class="cat-item cat-item-14170"><a href="http://filmstreaming1.org/genre/action-adventure/">Action &amp; Adventure</a> <i>8</i>
</li>
	<li class="cat-item cat-item-14175"><a href="http://filmstreaming1.org/genre/adventure/">Adventure</a> <i>28</i>
</li>
	<li class="cat-item cat-item-14209"><a href="http://filmstreaming1.org/genre/animation/">Animation</a> <i>9</i>
</li>
	<li class="cat-item cat-item-14934"><a href="http://filmstreaming1.org/genre/aventure/">Aventure</a> <i>1</i>
</li>
	<li class="cat-item cat-item-14932"><a href="http://filmstreaming1.org/genre/comedie/">Comédie</a> <i>4</i>
</li>
	<li class="cat-item cat-item-14334"><a href="http://filmstreaming1.org/genre/comedy/">Comedy</a> <i>15</i>
</li>
	<li class="cat-item cat-item-14335"><a href="http://filmstreaming1.org/genre/crime/">Crime</a> <i>12</i>
</li>
	<li class="cat-item cat-item-14380"><a href="http://filmstreaming1.org/genre/drama/">Drama</a> <i>35</i>
</li>
	<li class="cat-item cat-item-14935"><a href="http://filmstreaming1.org/genre/drame/">Drame</a> <i>12</i>
</li>
	<li class="cat-item cat-item-14933"><a href="http://filmstreaming1.org/genre/familial/">Familial</a> <i>1</i>
</li>
	<li class="cat-item cat-item-14410"><a href="http://filmstreaming1.org/genre/family/">Family</a> <i>4</i>
</li>
	<li class="cat-item cat-item-15041"><a href="http://filmstreaming1.org/genre/fantastique/">Fantastique</a> <i>1</i>
</li>
	<li class="cat-item cat-item-14412"><a href="http://filmstreaming1.org/genre/fantasy/">Fantasy</a> <i>10</i>
</li>
	<li class="cat-item cat-item-14456"><a href="http://filmstreaming1.org/genre/history/">History</a> <i>1</i>
</li>
	<li class="cat-item cat-item-15040"><a href="http://filmstreaming1.org/genre/horreur/">Horreur</a> <i>1</i>
</li>
	<li class="cat-item cat-item-14461"><a href="http://filmstreaming1.org/genre/horror/">Horror</a> <i>6</i>
</li>
	<li class="cat-item cat-item-14973"><a href="http://filmstreaming1.org/genre/mystere/">Mystère</a> <i>3</i>
</li>
	<li class="cat-item cat-item-14698"><a href="http://filmstreaming1.org/genre/mystery/">Mystery</a> <i>11</i>
</li>
	<li class="cat-item cat-item-14778"><a href="http://filmstreaming1.org/genre/romance/">Romance</a> <i>2</i>
</li>
	<li class="cat-item cat-item-14803"><a href="http://filmstreaming1.org/genre/sci-fi-fantasy/">Sci-Fi &amp; Fantasy</a> <i>7</i>
</li>
	<li class="cat-item cat-item-14804"><a href="http://filmstreaming1.org/genre/science-fiction/">Science Fiction</a> <i>14</i>
</li>
	<li class="cat-item cat-item-14948"><a href="http://filmstreaming1.org/genre/science-fiction-fantastique/">Science-Fiction &amp; Fantastique</a> <i>3</i>
</li>
	<li class="cat-item cat-item-14868"><a href="http://filmstreaming1.org/genre/thriller/">Thriller</a> <i>13</i>
</li>
	<li class="cat-item cat-item-14898"><a href="http://filmstreaming1.org/genre/war/">War</a> <i>1</i>
</li>
	<li class="cat-item cat-item-14903"><a href="http://filmstreaming1.org/genre/western/">Western</a> <i>2</i>
</li>
</div></div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; display: block; height: 44px; max-height: 182px; top: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div></ul>
</div>
<div class="sidemenu">
<h2>Release Year</h2>
<ul class="year scrolling mCustomScrollbar _mCS_2 mCS-autoHide" style="position: relative; overflow: visible;"><div id="mCSB_2" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" style="max-height: 118px;" tabindex="0"><div id="mCSB_2_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
<li><a href="http://filmstreaming1.org/Date de sortie/2016/">2016</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2015/">2015</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2014/">2014</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2013/">2013</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2012/">2012</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2011/">2011</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2010/">2010</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2009/">2009</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2008/">2008</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2007/">2007</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2006/">2006</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2005/">2005</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2004/">2004</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2003/">2003</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2002/">2002</a></li><li><a href="http://filmstreaming1.org/Date de sortie/2001/">2001</a></li><li><a href="http://filmstreaming1.org/Date de sortie/1993/">1993</a></li><li><a href="http://filmstreaming1.org/Date de sortie/1989/">1989</a></li></div></div><div id="mCSB_2_scrollbar_vertical" class="mCSB_scrollTools mCSB_2_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_2_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; display: block; height: 64px; max-height: 84px; top: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div></ul>
</div>



<div class="estadisticas">
</div>
</div>	<div class="content">
	   		<header>
			<h1>TV Shows</h1>
			<span>43</span>
		</header>





			<div id="archive-content" class="animation-2 items">

<article class="item tvshows" id="post-135575">
	<div class="poster">
		<a href="http://filmstreaming1.org/tvshows/naruto/"><img src="http://filmstreaming1.org/wp-content/uploads/2016/07/lTVhwFcSHqN0Xv8HLxDHILtrwfX-185x278.jpg" alt="Naruto"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/tvshows/naruto/">Naruto</a></h3>
				<span>2002</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-tvshows"></i>
		Naruto	</div>
	<div class="texto">Naruto Uzumaki est un jeune garçon de 12 ans du village caché de Konoha dans le pays du Feu. Il est rejeté par tous les habitants du village car il porte en lui le démon Renard à neuf queues Kyuubi, scellé en lui à sa naissance par le 4 ème Hokage de Konoha. Son rêve est de devenir à son ...<div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item tvshows" id="post-135550">
	<div class="poster">
		<a href="http://filmstreaming1.org/tvshows/lattaque-des-titans/"><img src="http://filmstreaming1.org/wp-content/uploads/2016/07/cJoOCjUVoUoACA0qwib1i85uaXs-185x278.jpg" alt="L’Attaque des Titans"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/tvshows/lattaque-des-titans/">L’Attaque des Titans</a></h3>
				<span>2013</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-tvshows"></i>
		L’Attaque des Titans	</div>
	<div class="texto">Il y a environ cent ans, les Titans ont presque entièrement exterminé l’humanité. Les Titans, qui mesurent en général plusieurs mètres de haut, ne semblent pas avoir une quelconque trace d’intelligence et mangent des humains pour leur plaisir et non pour se nourrir. Le peu d’humains ayant résisté au massacre l’ont fait en se retranchant dans un territoire entouré de ...<div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item tvshows" id="post-135135">
	<div class="poster">
		<a href="http://filmstreaming1.org/tvshows/the-big-bang-theory-2/"><img src="http://filmstreaming1.org/wp-content/uploads/2016/07/wQoosZYg9FqPrmI4zeCLRdEbqAB-185x278.jpg" alt="The Big Bang Theory"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/tvshows/the-big-bang-theory-2/">The Big Bang Theory</a></h3>
				<span>2007</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-tvshows"></i>
		The Big Bang Theory	</div>
	<div class="texto">Leonard et Sheldon pourraient vous dire tout ce que vous voudriez savoir à propos de la physique quantique. Mais ils seraient bien incapables de vous expliquer quoi que ce soit sur la vie "réelle", le quotidien ou les relations humaines... Mais tout va changer avec l'arrivée de la superbe Penny, leur voisine. Ce petit bout de femme, actrice à ses ...<div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item tvshows" id="post-135138">
	<div class="poster">
		<a href="http://filmstreaming1.org/tvshows/stranger-things-2/"><img src="http://filmstreaming1.org/wp-content/uploads/2016/07/esKFbCWAGyUUNshT5HE5BIpvbcL-185x278.jpg" alt="Stranger Things"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/tvshows/stranger-things-2/">Stranger Things</a></h3>
				<span>2016</span>
			</div>
	<div class="animation-1 dtinfo right">
	<div class="title">
		<i class="dt-tvshows"></i>
		Stranger Things	</div>
	<div class="texto">A Hawkins, en 1983&nbsp;dans l'Indiana. Lorsque&nbsp;Will&nbsp;Byers&nbsp;disparaît de&nbsp;son domicile, ses amis se lancent dans une recherche semée d’embûches&nbsp;pour&nbsp;le retrouver.&nbsp;Dans leur quête de réponses, les garçons rencontrent une étrange&nbsp;jeune fille en fuite. Les garçons se lient d'amitié avec la demoiselle&nbsp;tatouée du chiffre "11" sur son poignet et au crâne rasé et découvrent petit à petit les détails sur son inquiétante situation. Elle ...<div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item tvshows" id="post-135139">
	<div class="poster">
		<a href="http://filmstreaming1.org/tvshows/quantico/"><img src="http://filmstreaming1.org/wp-content/uploads/2016/07/4qq03GhGl1A7JAPEFAuh0b2foxn-185x278.jpg" alt="Quantico"></a>
				<div class="rating"><span class="icon-star2"></span> 10</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/tvshows/quantico/">Quantico</a></h3>
				<span>2015</span>
			</div>
	<div class="animation-1 dtinfo right">
	<div class="title">
		<i class="dt-tvshows"></i>
		Quantico	</div>
	<div class="texto">De jeunes recrues du FBI se battent de toutes leurs forces sur le camp d'entraînement de Quantico en Virginie, entre tests d'endurance physique, cours de tir et maîtrise de l'art de l'enquête et de l'interrogatoire. Ils ont 50% de chances d'échouer, la compétition fait rage. 9 mois plus tard, l'un d'entre eux est suspecté d'avoir commis la pus grosse attaque ...<div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 100%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">10</span>
	<b>/1</b>
	</div>
</div>
	</div>
</div></article>
<article class="item tvshows" id="post-135140">
	<div class="poster">
		<a href="http://filmstreaming1.org/tvshows/suits-avocats-sur-mesure/"><img src="http://filmstreaming1.org/wp-content/uploads/2016/07/i6Iu6pTzfL6iRWhXuYkNs8cPdJF-185x278.jpg" alt="Suits : Avocats sur Mesure"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/tvshows/suits-avocats-sur-mesure/">Suits : Avocats sur Mesure</a></h3>
				<span>2011</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-tvshows"></i>
		Suits : Avocats sur Mesure	</div>
	<div class="texto">Harvey Specter est l'un des meilleurs avocats de New York. Fraîchement nommé associé senior du cabinet Pearson Hardman, il doit se trouver un collaborateur. Alors que toute l'élite d'Harvard rêve de ce poste, son choix se porte sur Mike Ross, un petit génie à la mémoire photographique, sans diplôme. Une embauche qui pourrait coûter leur carrière aux deux nouveaux associés. <div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item tvshows" id="post-135141">
	<div class="poster">
		<a href="http://filmstreaming1.org/tvshows/devious-maids/"><img src="http://filmstreaming1.org/wp-content/uploads/2016/07/cjTHpFM5jZd3VRkXdBcjyOun3PE-185x278.jpg" alt="Devious Maids"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/tvshows/devious-maids/">Devious Maids</a></h3>
				<span>2013</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-tvshows"></i>
		Devious Maids	</div>
	<div class="texto">Quatre femmes de ménage d'origine latine travaillent pour de riches familles au cœur de luxueuses villas de Beverly Hills. Lorsque l'une de leurs amies est tuée dans des circonstances mystérieuses, elles s'interrogent sur leurs rêves et leurs espoirs déçus, sur leurs patrons, tous plus névrosés les uns que les autres, et sur leur avenir... <div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item tvshows" id="post-135084">
	<div class="poster">
		<a href="http://filmstreaming1.org/tvshows/greys-anatomy/"><img src="http://filmstreaming1.org/wp-content/uploads/2016/07/tnkYVbGDmpIcKWo7Synr4yqEsZM-185x278.jpg" alt="Grey’s Anatomy"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/tvshows/greys-anatomy/">Grey’s Anatomy</a></h3>
				<span>2005</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-tvshows"></i>
		Grey’s Anatomy	</div>
	<div class="texto">Meredith Grey, fille d'un chirurgien très réputé, commence son internat de première année en médecine chirurgicale dans un hôpital de Seattle. La jeune femme s'efforce de maintenir de bonnes relations avec ses camarades internes, mais dans ce métier difficile la compétition fait rage. <div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item tvshows" id="post-134959">
	<div class="poster">
		<a href="http://filmstreaming1.org/tvshows/pretty-little-liars/"><img src="http://filmstreaming1.org/wp-content/uploads/2016/07/vC324sdfcS313vh9QXwijLIHPJp-185x278.jpg" alt="Pretty Little Liars"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/tvshows/pretty-little-liars/">Pretty Little Liars</a></h3>
				<span>2010</span>
			</div>
	<div class="animation-1 dtinfo right">
	<div class="title">
		<i class="dt-tvshows"></i>
		Pretty Little Liars	</div>
	<div class="texto">« Pretty Little Liars », est basée sur les romans de Sara Shepard. La série suit quatre anciennes meilleures amies qui sont réunies un an après la disparition de leur amie Alison. Elles vont alors recevoir des messages anonymes d'une « A » qui connait tous leurs secrets... <div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item tvshows" id="post-134956">
	<div class="poster">
		<a href="http://filmstreaming1.org/tvshows/game-of-thrones-2/"><img src="http://filmstreaming1.org/wp-content/uploads/2016/07/3iYNC7Iw6a65ed5GZz7KbInSHBd-185x278.jpg" alt="game of thrones"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/tvshows/game-of-thrones-2/">game of thrones</a></h3>
				<span>2011</span>
			</div>
	<div class="animation-1 dtinfo right">
	<div class="title">
		<i class="dt-tvshows"></i>
		game of thrones	</div>
	<div class="texto">Il y a très longtemps, à une époque oubliée, une force a détruit l'équilibre des saisons. Dans un pays où l'été peut durer plusieurs années et l'hiver toute une vie, des forces sinistres et surnaturelles se pressent aux portes du Royaume des Sept Couronnes. La confrérie de la Garde de Nuit, protégeant le Royaume de toute créature pouvant provenir d'au-delà ...<div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item tvshows" id="post-134910">
	<div class="poster">
		<a href="http://filmstreaming1.org/tvshows/power/"><img src="http://filmstreaming1.org/wp-content/uploads/2016/07/qX4zc5dXaoGt44Kc0EoO9guA8WJ-185x278.jpg" alt="Power"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/tvshows/power/">Power</a></h3>
				<span>2014</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-tvshows"></i>
		Power	</div>
	<div class="texto">Propriétaire d’un nightclub new-yorkais très populaire, James "Ghost" St. Patrick entend développer son empire. Seulement sa double-vie à la tête d'un des réseaux de drogue les plus importants de la ville pourrait devenir un handicap. Vouloir mettre un terme à sa carrière de criminel risque de mettre en danger son mariage, sa famille et ses affaires. <div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item tvshows" id="post-134882">
	<div class="poster">
		<a href="http://filmstreaming1.org/tvshows/stranger-things/"><img src="http://filmstreaming1.org/wp-content/uploads/2016/07/wdtmels3LYs9OCGhtyhKoUcDGa9-185x278.jpg" alt="Stranger Things"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/tvshows/stranger-things/">Stranger Things</a></h3>
				<span>2016</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-tvshows"></i>
		Stranger Things	</div>
	<div class="texto">A Hawkins, en 1983&nbsp;dans l'Indiana. Lorsque&nbsp;Will&nbsp;Byers&nbsp;disparaît de&nbsp;son domicile, ses amis se lancent dans une recherche semée d’embûches&nbsp;pour&nbsp;le retrouver.&nbsp;Dans leur quête de réponses, les garçons rencontrent une étrange&nbsp;jeune fille en fuite. Les garçons se lient d'amitié avec la demoiselle&nbsp;tatouée du chiffre "11" sur son poignet et au crâne rasé et découvrent petit à petit les détails sur son inquiétante situation. Elle ...<div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item tvshows" id="post-134824">
	<div class="poster">
		<a href="http://filmstreaming1.org/tvshows/mr-robot/"><img src="http://filmstreaming1.org/wp-content/uploads/2016/07/jpV5GWRe0hjZBbx1kPFISvH8QxI-185x278.jpg" alt="Mr. Robot"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/tvshows/mr-robot/">Mr. Robot</a></h3>
				<span>2015</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-tvshows"></i>
		Mr. Robot	</div>
	<div class="texto">Elliot est un jeune programmeur anti-social qui souffre d'un trouble du comportement qui le pousse à croire qu'il ne peut rencontrer des gens qu'en les hackant. Il travaille pour une firme spécialisée dans la cyber-sécurité mais un homme connu sous le nom de Mr Robot l'approche un jour pour faire tomber une compagnie surpuissante qui fait partie de celles qu'il ...<div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item tvshows" id="post-134640">
	<div class="poster">
		<a href="http://filmstreaming1.org/tvshows/marvels-jessica-jones/"><img src="https://image.tmdb.org/t/p/w185/8a7e2GNpMnjI2hgRZH3jq2c7ffv.jpg" alt="Marvel’s Jessica Jones"></a>
				<div class="rating"><span class="icon-star2"></span> 10</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/tvshows/marvels-jessica-jones/">Marvel’s Jessica Jones</a></h3>
				<span>2015</span>
			</div>
	<div class="animation-1 dtinfo right">
	<div class="title">
		<i class="dt-tvshows"></i>
		Marvel’s Jessica Jones	</div>
	<div class="texto">After a tragic ending to her short-lived super hero stint, Jessica Jones is rebuilding her personal life and career as a detective who gets pulled into cases involving people with extraordinary abilities in New York City. <div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 100%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">10</span>
	<b>/1</b>
	</div>
</div>
	</div>
</div></article>
<article class="item tvshows" id="post-134643">
	<div class="poster">
		<a href="http://filmstreaming1.org/tvshows/supergirl/"><img src="https://image.tmdb.org/t/p/w185/cbe7Fzze4uvcwzKnDfE6AibuyMR.jpg" alt="Supergirl"></a>
				<div class="rating"><span class="icon-star2"></span> 10</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/tvshows/supergirl/">Supergirl</a></h3>
				<span>2015</span>
			</div>
	<div class="animation-1 dtinfo right">
	<div class="title">
		<i class="dt-tvshows"></i>
		Supergirl	</div>
	<div class="texto">Twenty-four-year-old Kara Zor-El, who was taken in by the Danvers family when she was 13 after being sent away from Krypton, must learn to embrace her powers after previously hiding them. The Danvers teach her to be careful with her powers, until she has to reveal them during an unexpected disaster, setting her on her journey of heroism. <div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 100%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">10</span>
	<b>/1</b>
	</div>
</div>
	</div>
</div></article>
<article class="item tvshows" id="post-134638">
	<div class="poster">
		<a href="http://filmstreaming1.org/tvshows/blindspot/"><img src="https://image.tmdb.org/t/p/w185/b0b1biUGk2Ysvij4c9djFf4Ug7Z.jpg" alt="Blindspot"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/tvshows/blindspot/">Blindspot</a></h3>
				<span>2015</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-tvshows"></i>
		Blindspot	</div>
	<div class="texto">A vast international plot explodes when a beautiful Jane Doe is discovered naked in Times Square, completely covered in mysterious, intricate tattoos with no memory of who she is or how she got there. But there's one tattoo that is impossible to miss: the name of FBI agent Kurt Weller, emblazoned across her back. "Jane," Agent Weller and the rest ...<div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item tvshows" id="post-134635">
	<div class="poster">
		<a href="http://filmstreaming1.org/tvshows/marvels-daredevil/"><img src="https://image.tmdb.org/t/p/w185/itrCovJkuH7I8SJ98jxrInnwm2y.jpg" alt="Marvel’s Daredevil"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/tvshows/marvels-daredevil/">Marvel’s Daredevil</a></h3>
				<span>2015</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-tvshows"></i>
		Marvel’s Daredevil	</div>
	<div class="texto">Lawyer-by-day Matt Murdock uses his heightened senses from being blinded as a young boy to fight crime at night on the streets of Hell’s Kitchen as Daredevil. <div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item tvshows" id="post-134641">
	<div class="poster">
		<a href="http://filmstreaming1.org/tvshows/better-call-saul/"><img src="https://image.tmdb.org/t/p/w185/b6tpspJMOauCQqud0KOcwNSq3F3.jpg" alt="Better Call Saul"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/tvshows/better-call-saul/">Better Call Saul</a></h3>
				<span>2015</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-tvshows"></i>
		Better Call Saul	</div>
	<div class="texto">Six years before Saul Goodman meets Walter White. We meet him when the man who will become Saul Goodman is known as Jimmy McGill, a small-time lawyer searching for his destiny, and, more immediately, hustling to make ends meet. Working alongside, and, often, against Jimmy, is “fixer” Mike Erhmantraut. The series will track Jimmy's transformation into Saul Goodman, the man ...<div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item tvshows" id="post-45">
	<div class="poster">
		<a href="http://filmstreaming1.org/tvshows/12-monkeys/"><img src="https://image.tmdb.org/t/p/w185/y2KF54M53ihULBNMRKVagtcprMT.jpg" alt="12 Monkeys"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/tvshows/12-monkeys/">12 Monkeys</a></h3>
				<span>2015</span>
			</div>
	<div class="animation-1 dtinfo right">
	<div class="title">
		<i class="dt-tvshows"></i>
		12 Monkeys	</div>
	<div class="texto">The provocative story of Cole, a time traveler from a decimated future in a high-stakes race against the clock. Utilizing a dangerous and untested method of time travel, he journeys from 2043 to the present day on a mission to locate and eradicate the source of a deadly plague that will all but annihilate the human race. <div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item tvshows" id="post-134642">
	<div class="poster">
		<a href="http://filmstreaming1.org/tvshows/marco-polo/"><img src="https://image.tmdb.org/t/p/w185/zNb6etwR0mi92YsoYVx6kePgOHs.jpg" alt="Marco Polo"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/tvshows/marco-polo/">Marco Polo</a></h3>
				<span>2014</span>
			</div>
	<div class="animation-1 dtinfo right">
	<div class="title">
		<i class="dt-tvshows"></i>
		Marco Polo	</div>
	<div class="texto">An epic adventure that follows the early years of the famous explorer as he travels the exotic Silk Road to the great Kublai Khan’s court. But Marco soon finds that navigating the Khan’s world of greed, betrayal, sexual intrigue and rivalry will be his greatest challenge yet, even as he becomes a trusted companion to the Khan in his violent ...<div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item tvshows" id="post-44">
	<div class="poster">
		<a href="http://filmstreaming1.org/tvshows/the-flash/"><img src="https://image.tmdb.org/t/p/w185/lUFK7ElGCk9kVEryDJHICeNdmd1.jpg" alt="The Flash"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/tvshows/the-flash/">The Flash</a></h3>
				<span>2014</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-tvshows"></i>
		The Flash	</div>
	<div class="texto">After a particle accelerator causes a freak storm, CSI Investigator Barry Allen is struck by lightning and falls into a coma. Months later he awakens with the power of super speed, granting him the ability to move through Central City like an unseen guardian angel. Though initially excited by his newfound powers, Barry is shocked to discover he is not ...<div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item tvshows" id="post-134637">
	<div class="poster">
		<a href="http://filmstreaming1.org/tvshows/the-100/"><img src="https://image.tmdb.org/t/p/w185/8efHIOhXaNPZn1c5ERDumONtuDk.jpg" alt="The 100"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/tvshows/the-100/">The 100</a></h3>
				<span>2014</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-tvshows"></i>
		The 100	</div>
	<div class="texto">Based on the books by Kass Morgan, this show takes place 100 years in the future, when the Earth has been abandoned due to radioactivity. The last surviving humans live on an ark orbiting the planet — but the ark won't last forever. So the repressive regime picks 100 expendable juvenile delinquents to send down to Earth to see if ...<div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item tvshows" id="post-134636">
	<div class="poster">
		<a href="http://filmstreaming1.org/tvshows/orange-is-the-new-black/"><img src="https://image.tmdb.org/t/p/w185/qwgRGo6v3K7FmYumaxmIkrXTW1N.jpg" alt="Orange Is the New Black"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/tvshows/orange-is-the-new-black/">Orange Is the New Black</a></h3>
				<span>2013</span>
			</div>
	<div class="animation-1 dtinfo left">
	<div class="title">
		<i class="dt-tvshows"></i>
		Orange Is the New Black	</div>
	<div class="texto">A crime she committed in her youthful past sends Piper Chapman to a women's prison, where she trades her comfortable New York life for one of unexpected camaraderie and conflict in an eccentric group of fellow inmates. <div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item tvshows" id="post-134639">
	<div class="poster">
		<a href="http://filmstreaming1.org/tvshows/vikings/"><img src="https://image.tmdb.org/t/p/w185/mBDlsOhNOV1MkNii81aT14EYQ4S.jpg" alt="Vikings"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/tvshows/vikings/">Vikings</a></h3>
				<span>2013</span>
			</div>
	<div class="animation-1 dtinfo right">
	<div class="title">
		<i class="dt-tvshows"></i>
		Vikings	</div>
	<div class="texto">Vikings follows the adventures of Ragnar Lothbrok, the greatest hero of his age. The series tells the sagas of Ragnar's band of Viking brothers and his family, as he rises to become King of the Viking tribes. As well as being a fearless warrior, Ragnar embodies the Norse traditions of devotion to the gods. Legend has it that he was ...<div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>
<article class="item tvshows" id="post-134630">
	<div class="poster">
		<a href="http://filmstreaming1.org/tvshows/house-of-cards/"><img src="https://image.tmdb.org/t/p/w185/6AquMx9MoJZTaZIR2AokSDATFCt.jpg" alt="House of Cards"></a>
				<div class="rating"><span class="icon-star2"></span> 0</div>
							</div>
	<div class="data">
		<h3><a href="http://filmstreaming1.org/tvshows/house-of-cards/">House of Cards</a></h3>
				<span>2013</span>
			</div>
	<div class="animation-1 dtinfo right">
	<div class="title">
		<i class="dt-tvshows"></i>
		House of Cards	</div>
	<div class="texto">Set in present day Washington, D.C., House of Cards is the story of Frank Underwood, a ruthless and cunning politician, and his wife Claire who will stop at nothing to conquer everything. This wicked political drama penetrates the shadowy world of greed, sex and corruption in modern D.C.

House of Cards is an adaptation of a previous BBC miniseries of ...<div class="degradado"></div></div>
	<div class="rating">

<div class="datareviews">
	<div class="datarating">
		<span class="rating-stars-a">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
		<span class="rating-stars-b" style="width: 0%;">
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
			<i class="icon-star2"></i>
		</span>
	</div>
	<div class="rating_right">
	<span class="rating-value">0</span>
	<b>/0</b>
	</div>
</div>
	</div>
</div></article>	</div>
	<div class="pagination"><span>Page 1 of 2</span><span class="current">1</span><a href="http://filmstreaming1.org/tvshows/page/2/" class="inactive">2</a></div>
<div class="resppages"><a href="http://filmstreaming1.org/tvshows/page/2/"><span class="icon-chevron-right"></span></a></div>	</div>
</div>
</div>
<footer class="main">
<!--<a class="go-top"><i class="icon-angle-up"></i></a>-->
	<div class="fbox">
		<div class="copy">Film Streaming HD 2016 VF Gratuit Streaming Complet en Français, Film en Streaming VF © 2016</div>
	</div>
</footer>


</div>
<script>
// OWL Movies

// OWL TVshows
// OWL Episodes
$(document).ready(function() {
  var owl = $("#dt-episodes");
  owl.owlCarousel({
		autoPlay: 3500,
		pagination : false,
	items : 4,
	stopOnHover : true,
	itemsDesktop : [900,4],
	itemsDesktopSmall : [750,3],
	itemsTablet: [500,2],
	itemsMobile : [320,1]
  });
  // Custom Navigation Events
	  // end botons
});

// OWL Seasons
$(document).ready(function() {
  var owl = $("#dt-seasons");
	owl.owlCarousel({
		autoPlay: false,
		items : 5,
	stopOnHover : true,
	pagination : false,
	itemsDesktop : [1199,5],
    itemsDesktopSmall : [980,5],
    itemsTablet: [768,4],
    itemsTabletSmall: false,
    itemsMobile : [479,3],
  });
  // Custom Navigation Events
  $(".next2").click(function(){
    owl.trigger('owl.next');
  })
  $(".prev2").click(function(){
    owl.trigger('owl.prev');
  })
	  // end botons
});

// OWL Movies Slider
$(document).ready(function() {
  var owl = $("#slider-movies");
  owl.owlCarousel({
		autoPlay: false,
		items : 2,
	stopOnHover : true,
	pagination : true,
	itemsDesktop : [1199,2],
    itemsDesktopSmall : [980,2],
    itemsTablet: [768,2],
    itemsTabletSmall: [600,1],
    itemsMobile : [479,1]
  });
  // Custom Navigation Events
});

// OWL TVShows Slider
$(document).ready(function() {
  var owl = $("#slider-tvshows");
  owl.owlCarousel({
		autoPlay: false,
			items : 2,
	stopOnHover : true,
	pagination : true,
	itemsDesktop : [1199,2],
    itemsDesktopSmall : [980,2],
    itemsTablet: [768,2],
    itemsTabletSmall: [600,1],
    itemsMobile : [479,1]
  });
  // Custom Navigation Events
});

// OWL Movies - TVShows Slider
$(document).ready(function() {
  var owl = $("#slider-movies-tvshows");
  owl.owlCarousel({
				autoPlay: false,
					items : 2,
		stopOnHover : true,
		pagination : true,
		itemsDesktop : [1199,2],
		itemsDesktopSmall : [980,2],
		itemsTablet: [768,2],
		itemsTabletSmall: [600,1],
		itemsMobile : [479,1]
  });
  // Custom Navigation Events
});


</script>
<script type="text/javascript" src="http://filmstreaming1.org/wp-content/themes/dooplay/assets/js/scripts.js?ver=1.0.3"></script>
<script type="text/javascript" src="http://filmstreaming1.org/wp-includes/js/wp-embed.min.js?ver=4.5.3"></script>
<p></p>
<a href="http://www.hit-parade.com/hp.asp?site=a652380" target="_top"><img src="http://loga.hit-parade.com/logohp1.gif?site=a652380" title="\&quot;Hit-Parade\&quot;" width="77" height="15" border="0"></a>

<!-- http://www.uhit.eu - Annuaire pour webmaster -->
<a href="\&quot;http://www.uhit.eu/\&quot;"><img src="\&quot;http://www.uhit.eu/button1.php?u=karapitcho222\&quot;" alt="\&quot;Annuaire" sites="" francais\"=""></a>
<script type="\&quot;text/javascript\&quot;" src="\&quot;http://www.uhit.eu/id/karapitcho222.php\&quot;"></script>
<!-- Fin de http://www.uhit.eu --><script>
 $(".reset").click(function(event){
    if (!confirm("Really you want to restart all data??"))
       event.preventDefault();
});
 </script>

<script aria-hidden="true" type="application/x-lastpass" id="hiddenlpsubmitdiv" style="display: none;"></script><script>try{(function() { for(var lastpass_iter=0; lastpass_iter < document.forms.length; lastpass_iter++){ var lastpass_f = document.forms[lastpass_iter]; if(typeof(lastpass_f.lpsubmitorig2)=="undefined"){ lastpass_f.lpsubmitorig2 = lastpass_f.submit; if (typeof(lastpass_f.lpsubmitorig2)=='object'){ continue;}lastpass_f.submit = function(){ var form=this; var customEvent = document.createEvent("Event"); customEvent.initEvent("lpCustomEvent", true, true); var d = document.getElementById("hiddenlpsubmitdiv"); if (d) {for(var i = 0; i < document.forms.length; i++){ if(document.forms[i]==form){ if (typeof(d.innerText) != 'undefined') { d.innerText=i.toString(); } else { d.textContent=i.toString(); } } } d.dispatchEvent(customEvent); }form.lpsubmitorig2(); } } }})()}catch(e){}</script></body>
